* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14pt;
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

input[type=range] {
  -webkit-appearance: none; 
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #eeeeee;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid black;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

#setting_btn {
	display: block;
}

#settings {
	position: absolute;
	float: left;
	color: rgb(255,128,0);
	overflow: hidden;
}

#settings_table {
	transition-property: all;
	transition-duration: .5s;
	transform: translate(0,-100%)
}

#settings tr.satellite_label:first-child {
	padding-top: 20px;
}

#settings tr.satellite_label > td:first-child {
	font-weight: 500;
	text-align: left;
}

#settings tr > td:first-child {
	color: #777777;
	text-align: right;
}

a{
	text-decoration: none;
	color: rgb(255,255,255);
	font-weight: 400;
}

a:visited{
	color: rgb(255,255,255);
}
	
#paper {
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	margin: auto;
	z-index: -1000;
}
